@font-face {
  font-family: Minecrafter;
  src: url(/assets/fonts/Minecrafter.Reg.ttf);
}
@font-face {
  font-family: MinecrafterAlt;
  src: url(/assets/fonts/Minecrafter.Alt.ttf);
}
@font-face {
  font-family: Minecraftia-Reg;
  src: url(/assets/fonts/Minecraftia-Regular.ttf);
}
@font-face {
  font-family: Minecraftia-icon;
  src: url(/assets/fonts/minecraft_10-icons.ttf);
}
@font-face {
  font-family: craft-icon;
  src: url(/assets/fonts/craft-icons.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dda15e;
  height: 100vh;
  overflow: hidden;
}
body .eyes .eye {
  position: relative;
  width: 30px;
  height: 22px;
  display: block;
  background-color: transparent;
  margin: 0 22px;
  top: 219px;
  left: -370px;
}
body .eyes .eye:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 9px;
  height: 9px;
  background-color: #333;
  border-radius: 50%;
}
body div {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
body div img {
  width: 80em;
}
body a {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  background: #f3ae47;
  width: 10em;
  position: relative;
  text-align: center;
  padding: 10px 20px;
  font-family: Minecraftia-Reg, cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #e56f00;
}
body a:hover, body a:focus {
  background: #c97609;
  box-shadow: inset -6px -6px 0px 0px #e56f00;
}
body a:active {
  box-shadow: inset 4px 4px 0px 0px #e56f00;
}
body a:before, body a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
body a:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
body a:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
